body {
  font-family: Arial;
  /* font-size: 18px; */
  /* display: flex;
  justify-content: center; */
}

.container {
  width: 400px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  /* border: 1px solid; */
}

.homeButtons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.formFooter {
  margin-top: 10px;
  display: flex;
  justify-content: space-between
}

.inputFields {
  margin: 10px;
}